*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: sans-serif;
	color: black;
	padding-top: 20px;
}

.container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

reg-form {
	min-width: 290px;
	max-width: 500px;
	margin: 0 auto;
	border: 2px solid #000;
	border-radius: 7px;
	padding: 20px;
}

.reg-form_label,
.reg-form_input {
display: block;
}

.pass_span {
display: block;
}

.reg-form_label[for="username"], 
.reg-form_input[type="text"],
.pass_span{
margin-bottom: 10px;
}


/*a {
	display:blok;
	width:100%;
	max-width: 300px;
	min-width:300px;
	border: 10px solid yellow;
	border-radius: 5 px;
	background-color: yellow;
	padding-top: : 25px;
	padding-bottom: 25px;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
	color: #000;
	box-shadow: 2px 2 px 17 px black;
	transition: all .5s ase;
}

a:hover {
	 background-color: orange;
	 color: red;
	 border-color: currentColor;
	 {

li {
 	display: inline-block;
}

ul {
	display: inline-block;
	}

nav{
text-align: center;
padding-top: 1rem;
}
*/