* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html body {
	min-height: 100vh;
}

body {
	background-color: rgba(31, 222, 219, 0.25);
	padding: 5px;
	margin: 0 20px;
}

body:not(:last child) {
	padding: 10px;
}

@font-face {
	font-family: 'Mansalva';
	src: url(Mansalva-Regular.ttf);
}

h1 {
	font-family: 'Mansalva', cursive;
}

img {
    width: 150px;
}

label {
	display: block;
}


















/*body :last child

li:not(:last-child):after {
    content:' |';
text-align: center;

body:not(:last-child):after {
    content:' |';




.form non last child 
*/



























